<h1>NHAP VAO THONG TIN</h1>

<form asp-action = "Index">
    <label>EmployeeId</label>
    <input type="text" name="EmployeeId">
    <br>
    <label>Age</label>
    <input type="text" name="Age">
    <br>
    <input type="submit" value="Giui">

</form>
<h3>@ViewBag.empthongBao</h3>