<h1>NHAP VAO THONG TIN SINH VIEN</h1>

<form asp-action = "Index">
    <label>PersonId</label>
    <input type="text" name="PersonId">
    <br>
    <label>Name</label>
    <input type="text" name="Name">
    <br>
    <label>Address</label>
    <input type="text" name="Address">
    <br>
    <input type="submit" value="Giui">

</form>
<h3>@ViewBag.infoPerson</h3>