<h1>NHAP VAO THONG TIN SINH VIEN</h1>

<form asp-action = "Index">
    <label>Name</label>
    <input type="text" name="Name">
    <br>
    <label>Dia chi</label>
    <input type="text" name="DiaChi">
    <br>
    <input type="submit" value="Giui">

</form>
<h3>@ViewBag.thongBao</h3>