<h1>LUONG CUA NHAN VIEN</h1>

<form asp-action = "Index">
    <label>Luong co ban</label>
    <input type="text" name="luongCB">
    <br>
    <label>He so luong</label>
    <input type="text" name="heSo">
    <br>
    <label>Phu Cap</label>
    <input type="text" name="phuCap">
    <br>
    <input type="submit" value="Giui">

</form>
<h3>@ViewBag.luong</h3>