<h1>GIAI PHUONG TRINH</h1>

<form asp-action = "Index">
    <label>So A</label>
    <input type="text" name="soA">
    <br>
    <label>So B</label>
    <input type="text" name="soB">
    <br>
    <label>So C</label>
    <input type="text" name="soC">
    <br>
    <input type="submit" value="Giui">

</form>
<h3>@ViewBag.thongBao</h3>